* {
    margin: 0;
    padding: 0;
}

html, body {
    width:100%;
    height:100%; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    z-index: -1;
}

.btn-custom {
    margin: 2.5px 0.5px !important;
    outline: none !important;
    border-style: none;
    background-color: rgba(84, 84, 84, 0.5) !important;
    border-radius: 0 !important;
}
.btn-custom:hover {
    background-color: rgba(84, 84, 84, 0.7) !important;
}
.btn-custom:focus {
    color:  !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: rgba(144, 144, 144, 0.7) !important;
}

.row {
    width: 100%;
}

#menu {
    margin-left: 20px;
    top: 0;
    left: 0;
    float: left;
    width: 400px;
    font-size: small;
}

.red {
    color: red !important;
}
.green {
    color: green !important;
}

.slidecontainer {
    margin: 2.5px 0.5px;
    padding: 5px 5px;
    outline: none;
    border-style: none;
    background-color: rgba(84, 84, 84, 0.5);
    border-radius: 0;
    vertical-align: middle;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
   
.slider {
    width: 50%;
}
.slider:hover {
    opacity: 1;
}

.slider-label {
    display: inline-flex;
    align-items: center;
}

.input {
    width: 10%;
}