* {
    margin: 0;
    padding: 0;
}

html, body {
    width:100%;
    height:100%; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    z-index: -1;
}

.btn-custom {
    outline: none !important;
    border-style: none;
    background-color: rgba(84, 84, 84, 0.5) !important;
    border-radius: 0 !important;
}
.btn-custom:hover {
    background-color: rgba(84, 84, 84, 0.7) !important;
}

.red {
    color: red;
}
.green {
    color: green;
}
